header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 6px rgb(32 33 36 / 10%);
  transition: all .50s ease;
  padding: 20px 14%;
  width: 100%;
  background-color: #edede9;
  font-size: 18px;
}

.logo-text{
  color: #d06b7d;
  cursor: pointer;
  transition: all .50s ease;
}

.logo-text:hover{
  color: #ffccd5;
}

.menu{
  display: flex;
}

.menu a{
  font-size: 15px;
  font-weight: 500;
  margin: 10px 22px;
  transition: all .50s ease;
  color: #d06b7d;
  font-size: 18px;
}

.menu a:hover{
  color: #ffccd5;
}

section{
  padding: 60px 15% 70px;
}

.head-text{
  padding: 0;
}


.head{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-image: url(../Img/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 20px;
}

.head-text {
  padding: 0;
  margin-left: 0;
}


.head-text h1{
  color: #393d3f;
  font-size: 60px;
  margin-bottom: 40px;
  background-color: #e5e5e567;
}

.head-text p{
  font-size: 20px;
  color: #393d3f;
  background-color: #e5e5e567;
}


.head-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 6px rgb(32 33 36 / 10%);
  transition: all .50s ease;
  padding: 20px 14%;
  width: 100%;
  background-color: #edede9;
  font-size: 18px;}

.head-menu {
  
}

.head-menu li {
  display: inline-block;
  margin: 5px 15px;
}

.head-menu a {
  font-size: 20px;
  color: #d06b7d;
  background-color: #fadde1;
  transition: all .50s ease;
  border-radius: 8px;
  border: 1px solid #eaeae9;
  padding: 10px 20px;
  display: block;
}

.head-menu a:hover {
  color: #ffccd5;
  background-color: #d06b7d;
  border-color: #ebb9c2;
}


@media (max-width: 768px) {
  .menu {
    display: block;
  }

  .menu a {
    display: block;
    margin: 10px 0;
  }

  header {
    padding: 20px 10%;
    margin-bottom: 190px;
  }

  .head-text h1 {
    font-size: 40px;
  }

  .head-text p {
    font-size: 16px;
  }

  .head-menu-container {
    padding: 20px 10%;
  }

  .head-menu {
  }
}

@media (max-width: 480px) {

  .head-menu a {
    font-size: 16px; 
    padding: 8px 12px; 
  }
}